<div class="login-status-header">
  <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
    <div class="login-status-user-info">
      Welcome back, {{ customer.firstName | titlecase }}!
    </div>
    <button (click)="logout()" class="security-btn">Log out</button>
    <button routerLink="/order-history" class="security-btn">Orders</button>
  </ng-container>

  <ng-template #loggedOut>
    <button routerLink="/login" class="security-btn">Log in</button>
  </ng-template>
</div>
