<ng-container [formGroup]="form">
  <div class="form-area">
    <h3>Customer</h3>
    <div class="row">
      <div class="col-md-2">
        <label for="FirstName">First Name</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <input id="FirstName" type="text" formControlName="firstName" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label for="LastName">Last Name</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <input id="LastName" type="text" formControlName="lastName" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label for="Email">Email</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <input id="Email" type="text" formControlName="email" />
        </div>
      </div>
    </div>
  </div>
</ng-container>
