<ng-container [formGroup]="form">
  <div class="form-area">
    <h3>Customer</h3>
    <div class="row">
      <div class="col-md-2">
        <label for="FirstName">First Name</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <input id="FirstName" type="text" formControlName="firstName" />
        </div>

        <div
          *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="firstName?.hasError('required')">
            First Name is required!
          </div>

          <div *ngIf="firstName?.hasError('minLengthTrimmed')">
            First Name must have at least 3 characters!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label for="LastName">Last Name</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <input id="LastName" type="text" formControlName="lastName" />
        </div>
        <div
          *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="lastName?.hasError('required')">
            Last Name is required!
          </div>

          <div *ngIf="firstName?.hasError('minLengthTrimmed')">
            Last Name must have at least 3 characters!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label for="Email">Email</label>
      </div>
      <div class="col-md-9">
        <div class="input-space">
          <input id="Email" type="text" formControlName="email" />
        </div>
        <div
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="email?.hasError('required')">Email is required!</div>

          <div *ngIf="email?.hasError('email')">
            Email must be a valid Email address!
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
